body {
    overflow: hidden;
    margin: 0;
    background-image: url("images/background.jpg");
    background-repeat: repeat;
    background-size: auto;
    user-select: none;
}

#cardContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    writing-mode: vertical-lr;
    row-gap: 8px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    place-items: center;
}

.card {
    border: 2px solid #fff;
    height: 92%;
    aspect-ratio: 8 / 12;
    position: relative;
    background-color: #fff;
    writing-mode: horizontal-tb;
    transition: box-shadow 0.5s ease;
}

.card:hover {
    cursor: pointer;
}

.layer3, .layer2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    margin: 10px auto;
    padding: 0 12px;
    width: fit-content;
    background-color: #FFF;
    font-size: 40px;
    font-family: "Science Gothic", sans-serif;
    font-weight: 300;
    font-variation-settings: "slnt" 0, "wdth" 100, "CTRS" 0;
}

#sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 10px;
    background-color: #FFF;
    padding: 10px 5px;
}

.button {
    height: 50px;
    width: auto;
    transition: 0.1s;
}

.button:hover {
    transform: scale(1.2);
}

.cardImage {
    height: 45px;
}
